body, html {
    height: 100%;
    font-size: 100%;
}

body {
    margin: 0;
    font-family: trebuchet ms, helvetica, sans;
    font-size: 100%;
    background: rgb(35, 35, 35);
    color: rgb(155, 155, 155);
    background-image: -webkit-gradient(radial, center top, 0, center top, 1000, color-stop(0, #1c1c1c), color-stop(1, #050505));
    background-attachment: fixed;
}
a,
a:hover {
    color: rgb(220, 210, 200);
}
ul.list {
    margin-top: .3em;
    margin-bottom: 20px;
    list-style-type: binary;
    font-size: 65%;
    font-family: 'Courier New';
    color: rgb(135, 135, 135);
}
ul.list span.item {
    font-size: 153%;
    font-weight: normal;
    font-family: trebuchet ms, helvetica, sans;
    color: rgb(155, 155, 155);
}

.toplinks {
    margin-top:24px;
    text-align:center;
}

.toplinks a {
    color: rgb(155, 155, 155);
}

p.dim {
  font-size: 90%;
  color: rgb(110, 110, 110);
}

#my-container {
    margin: auto;
    max-width: 900px;
}
#desc {
    margin-top: 19px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: trebuchet ms, helvetica, sans;
    color: rgb(220, 210, 200);
}
.left_logo {
    float:left;
    padding-left:60px;
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;
}
.logo {
    padding-right:60px;
    padding-top:20px;
    float:right;
    margin:auto;
}
h1 {
    text-align: center;
    font-size: 44px;
    line-height: 1em;
    color: rgb(220, 210, 190);
    letter-spacing: .05em;
    text-shadow: 0 0 5px rgb(100, 100, 100);
}
h4 {
    color: rgb(200, 190, 180);
}
h5 {
    text-align: center;
    font-size: 12px;
    line-height: 1em;
    color: rgb(150, 140, 130);
    letter-spacing: .05em;
    text-shadow: 0 0 5px rgb(100, 100, 100);
}
.plugin {
    margin-bottom: 40px;
    box-shadow: 0 0 200px rgba(255, 255, 255, .1);
}
.player {
    margin-bottom: 20px;
}
.tagline {
    padding-top:10px;
    text-align: center;
    font-size: 13px;
    line-height: 1em;
    color: rgb(170, 170, 170);
    letter-spacing: .05em;
}
#header {
    padding: 20px 0 10px;;
    position: relative;
}
#footer {
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, .15);
}
